 /*FOOTER*/  
 .footer {
    width: 100%;
    background-color: #353535;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer-bloc {
    display: inline;
    padding: 0 40px;
    width: 100%;
    max-width: 1200px;
   & .logo {
    font-family: 'Shrikhand', cursive;
    color: white;
    font-size: 20px;
    padding: 15px 0;
  }
  }
  .footer-bloc-links {
    display: inline-flex;
    flex-direction: column;
    width: auto;
  }
  .footer-bloc-link {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    text-align: center;
    color: white;
    height: 30px;
    cursor: pointer;
  & i {
    margin-right: 7px;
  }
  }
  .footer-bloc-link-title {
    font-size: 16px;
    font-weight: 400;
  }