/*RECHERCHE*/
@use "../utils/linear-gradient";

.search {
    background: #fafafa;
    width: 100%;
  }
  .search-container {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
  }
  .search-title {
    text-align: center;
    max-width: 250px;
    margin: 0;
  }
  .search-text {
    text-align: center;
  }
  .search-button {
    opacity: 1;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    @include linear-gradient.gradient;
  }
  .search-button:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  }